.content-wrapper {
  margin: 120px 0 0 0;
  display: flex;
  flex-direction: row;
}

.content {
  margin-left: 55px;
  width: 1200px;
}

.entities {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.entity {
  width: 100px;
  height: auto;
  margin: 0 0 10px 0;
}

.entity.selected {
  font-weight: bold;
  padding-left: 1px;
}

.stat-periods {
  display: flex;
  flex-direction: row;
}

.stat-period-name {
  width: 120px;
  font-style: italic;
}

.stat-period-name.selected {
  font-weight: bold;
}
